*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}

:root{
    --color:white;
    --primary-color:rgb(48, 171, 171);
    --secondary-color:rgb(41, 38, 38);
}

body{
    background-color: var(--secondary-color);
}

.header{
    height:100px;
    background-color: var(--primary-color);
    text-align: center;
     padding-top:15px;
}

.nav-bar{
    text-align: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-family: Arial, Helvetica, sans-serif;
    padding:40px 80px;
    
}

.nav-bar .nav-list{
     display: flex;
    justify-content: space-between;
    gap:30px;
    list-style: none;
} 

.nav-bar .logo{
    font-size: 20px;
    text-decoration: none;
    color:var(--color);
    border:2px solid ;
    padding:7px 10px;
    transition: 0.3s;
    border-radius: 10px;
}

.nav-bar .logo:hover{
    color:var(--primary-color);
    background-color:var(--color);

}

.nav-bar .nav-list a{
    text-decoration: none;
    color:white;
}

.nav-list button{
    padding:4px 5px;
    color:var(--secondary-color);
    background-color: var(--primary-color);
    border-radius: 3px;
    transition: 0.3s;
    cursor:pointer;
    
}

.nav-list button:hover{
    color:var(--primary-color);
    background-color: var(--secondary-color);

}

.main{
    display:flex;
    flex-direction: row;
    justify-content:space-between;
    gap:200px;
    width: 100%;

}

.main .image{
    width:40%;
    padding-left:90px;
    
}

.Bio-data{
    color:var(--color);

}

.Bio-data  .para-1{
    font-size: 40px;
    padding-top: 20px;
}

.para-1 span{
    color:var(--primary-color);
}

.para-2{
    padding-top:20px;
    text-align: justify;
    padding-right:100px;
}

.Bio-data  button{
    padding:5px 10px;
    margin-top: 40px;
    color:var(--primary-color);
    border:2px solid var(--primary-color);
    background-color: var(--secondary-color);
    cursor:pointer;
}

.Bio-data  button:hover{
    color:var(--secondary-color);
    background-color: var(--primary-color);
}
